@model List<Meyawo.Models.TblFuture>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}

<h2>Header</h2>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Header</th>
        <th>Ad Soyad</th>
        <th>Title</th>
        <th colspan="2"></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.FutureID</td>
            <td>@item.Header</td>
            <td>@item.NameSurname</td>
            <td>@item.Title</td>
            <td><a href="/Future/DeleteFuture/@item.FutureID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Future/UpdateFuture/@item.FutureID" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Future/CreateFuture/" class="btn btn-primary">Yeni Giriş</a>