
@{
    ViewBag.Title = "CreateService";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}

<h2>Yeni Hizmet Girişi</h2>

<form method="post">

    <label>Hizmet Başlığı</label>
    <input type="text" name="Title" class="form-control border" />
    <br />
    <label>Hizmet Görseli</label>
    <input type="text" name="ImageUrl" class="form-control border" />
    <br />
    <label>Hizmet Açıklaması</label>
    <textarea rows="4" class="table table-bordered" name="Description"></textarea>
    <br />
    <button class="btn btn-info">Hizmeti Kaydet</button>
    <a href="/Service/Index" class="btn btn-outline-dark">Geri</a>

</form>

